@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

.card-wrapper{
  container-type: inline-size;

  .card{
    box-shadow: 0 0 0.25rem 1px #aaa;
    border-radius: 0.25rem;
    display: grid;
    grid-auto-rows: auto;
    gap: 1rem;
    color: #4A5569;

    @container (max-width: 500px){
      grid-template-columns: 1fr;
    }

    @container (min-width: 500px){
      grid-template-columns: 3fr 7fr;
      grid-template-rows: minmax(50px, auto);
    }

    h2, p, ul{
      padding: 0 1rem;
    }

    h2{
      font-size: 1.25rem;
      font-weight: 700;
      align-self: center;
    }

    figure{
      order: -1;
      padding: 1rem;
      grid-area: 1 / 1 /4 /2;
      /* align-self: center; */

      img{
        border-radius: 0.25rem 0.25rem 0 0;
        max-width: 100%;
        vertical-align: top;
      }
    }

    p{
      margin: 0;
      line-height: 1.5;
    }

    ul{
      align-self: center;
      margin: 0.5rem 0 1rem;
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      font-size: 0.625rem;

      li{
        padding: 0.25rem 0.5rem;
        background-color: #EDF2F8;
        border-radius: 2rem;
        flex: 0 0 auto;
      }
    }
  }
}